
.sigincontainer
{
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
}
.signinbackgrd img
{
    width: 100%;
    min-height: 160vh;
    opacity: 0.5;
}
.signinlogo
{
    position: absolute;
    top: 0;
    margin-left: 5%;
}
.form2
{
    background-color: rgba(0,0,0,.75);
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    left: 35%;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 60px 68px 40px;
    margin-bottom: 90px;
    min-height: 650px;
    font-size: 34px; 
   border-radius: 10px;
   overflow: hidden;
    
}

#sigin_button
{
    color: white;
    background-color: red;
    width: 120%;
    margin-top: 20px;
}
.a
{
    width: 50%;
    margin-left:25%;
    display: flex;
    justify-content: center;
}
.footer
{
    position: absolute;
    top:68%;
    background: rgba(0,0,0,.75);
    font-size: 1em;
    height:max-content;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 80px;
}
.signin_text h4
{
    background-color: blanchedalmond;
}
.form2 input
{
    height: 7vh;
}
.registerbutton
{
    color: white;text-decoration: none; 
    transition:all 0.2s ease-in-out;
}
.selectlang
{
    margin-left: 50px;
    margin-top: 30px;
    outline: hidden;
}
.selectlang select
{
    outline: hidden;
}
