.Dncontainer
{
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    height: auto;
    padding:50px;
    margin-bottom: 5px;
}
.dnimage
{
    width: 600px;

}
.dntext
{
    max-width: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: start;
    /* border: 1px solid white; */
}
.dnh1 h1
{
  line-height: 40px;
}
.d1h3 h3
{
  line-height: 30px;
  word-spacing: 5px;
}

.dnimage
{
  position: relative;
  top: 0;
  left: 0;
}

.dnimg1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
  }
  
  .dnimg2 {
    position: absolute;
    border-radius: 5px;
    top: 400px;
    left: 250px;
   
  }