.Faqcontainer
{
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    height: max-content;
    flex-direction: column;
    align-items: center;
    border-bottom: 8px solid #222;
    padding: 50px;
    
}  
.Faqoptions
{
  margin: 0 0 8px 0;
}
.dropdown {
  position: relative;
  display: flex;
  
}
.dropdown select
{
  
  width: 70vh;
  padding: 10px;
  margin: 5px;
  background-color: rgb(39, 36, 36);
  color: white;
}

.dropdown-content {
  background-color: white;
  color: black;
  display: none;
  position: absolute;
  width: 70vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.searchboxcontainer
{
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.faqbodysearch
{
    display: flex;
    margin: 20px; 
  width: 80%;  
}
.faqbodysearch input
{
  width: 80%;
}
.register_button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50px;
    background-color: red;
    color: white ;
    border: none;
    border-radius: 5px;
}
.faqready
{
    display: flex;
    justify-content: center;
    text-align: center;
    /* flex-wrap: wrap; */
}

@media all and (max-width:500px)
{
    .Faqoptions
    {
        /* display: none; */
        width: 100%;
    }
    .Faq_text
    {
      /* display: none; */
      text-align: center;
    }
    .faqready
    {
      width: 100%;
      font-size: large;
    }
    .Faqcontainer
    {
      height: max-content;
    }
    .faqbodysearch
    {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: 0;
    }
}