.Headercontainer
{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    margin-bottom: 5px;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    
}
.headerbody
{
    box-sizing: border-box;
    position: absolute;
    top: 300px;
    max-width: 1000px;
    max-height: 1000px;
    display: flex;
    font-size: 30px;
    height: 60%;
    flex-direction: column;
}
.bodywelcome
{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}
.bodywelcome h1
{
    font-size: 80px;
}
.bodywatch
{
    display: flex;
    font-size: 50px;
    justify-content: center;
}
.bodyready
{
    display: flex;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    /* flex-wrap: wrap; */
}
.Headerbodysearch
{
    display: flex;
    margin: 10px;
}
.Headerbodysearch input
{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: none;
}
.register_button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130%;
    
    height: 50px;
    background-color: red;
    color: white ;
    border: none;
    border-radius: 5px;
}