
.headerbkgd img
{   
    position: relative;
    min-width: 1024px;
    max-height: 100vh;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.nav
{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav2 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#nav_button 
{
    width: 120%;
}
.navimg img
{
    margin-left: 32%;
}

@media all and (max-width:500px)
{
    .nav
{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navimg
{
    width: 10px;
}
}