.wthcontainer
{
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    height: auto;
    padding:50px;
    border-bottom: 8px solid #222;
}
.wthtext
{
  max-width: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: start;
}
.watchh1 h1
{
  line-height: 40px;
}
.watchh3 h3
{
  line-height: 30px;
  word-spacing: 5px;
}
.wthimage img
{
    width: 400px;
    height: 300px;
}
.wthimage
{
    position: relative;
  top: 0;
  left: 0;
}

.wthimg1 {
  /* display: none; */
    position: relative;
   
    top: 0;
    left: 0;
    border: 1px solid #000000;
  }
  
  .wthimg2 {
    /* display: none; */
    position: absolute;
    border-radius: 5px;
    top: 30px;
    left: 73px;
    border: 1px solid #000000;    
  }

  @media all and (max-width:400px)
  {
    .wthcontainer
    {
      width: 100%;
    }
    .watchh1 
    {
      text-align: center;
    }
    .watchh3
    {
      text-align: center;
    }
  }