#navbar_right
{
    width: 500px;
    padding-top: 5px;
}
li
{
    list-style: none;
}
a
{
    color: black;
    font-size: large;
    text-decoration: none;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media all and (max-width:500px)
{
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 10px;

    }
    .navbar-brand {
        display: flex;
        justify-content: center;
        width: 100%
    };
}