.text
{
    position: relative;
    border: 1px solid white;
    margin-top: 500px;
    /* margin-left: 0%; */

}
.list
{
    position: absolute;
    top: 0;
    border: 1px solid white;
    top: auto;
    margin-left: 10%;
}
.practice_container
{
    /* border: 1px solid white; */
    width: 500px;
}